{% extends 'base.html' %}

{% block title %}Show all {{ block.super }}{% endblock title %}

{% block content %}
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Projector</th>
                    <th>Reservations</th>
                    <th colspan="2">Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td><a href="{% url 'room_details' room.id %}">{{ room.name }}</a></td>
                        <td>{{ room.capacity }}</td>
                        <td>
                            {% if room.is_projector %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            {% if room.reservation.count > 0 %}
                                <a href="#">{{ room.reservation.count }}</a>
                            {% else %}
                                FREE
                            {% endif %}
                        </td>
                        <td><a href="{% url 'edit_room' %}?pk={{ room.pk }}">EDIT</a></td>
                        <td><a href="{% url 'room_remove' room.id %}">DELETE</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
{% endblock content %}

