{% extends 'base.html' %}

{% load custom_filters %}


{% block title %}Show all {{ block.super }}{% endblock title %}
{#Zrobić menu jako szablon i załadować#}
{% block content %}
    <div class="col-md-12">
        <table class="table table-striped no-top-border" >
            <thead class="">
                <tr>
                    <th scope="col" class="column-max text-secondary">Edit</th>
                    <th scope="col" class="column-max text-secondary">Del</th>
                    <th scope="col" class="column-fit text-secondary">No</th>
                    <th scope="col" class="text-secondary">Name</th>
                    <th scope="col" class="column-fit text-secondary">Capacity</th>
                    <th scope="col" class="column-fit text-secondary">Projector</th>
                    <th scope="col" class="column-fit text-secondary">Reservations</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>
                            <a href="{% url 'edit_room' %}?pk={{ room.pk }}">
                                <button class="btn btn-info btn-xs glyphicon glyphicon-pencil"></button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'room_remove' room.pk %}">
                                <button class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button>
                            </a>
                        </td>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'room_details' room.id %}">{{ room.name }}</a></td>
                        <td>{{ room.capacity }}</td>
                        <td>
                            {{ room.is_projector|if_yes_no }}
                        </td>
                        <td>
                            {% if room.reservation.count > 0 %}
                                <a href="#" class="btn btn-outline-info btn-sm td-btn">{{ room.reservation|count_future }}</a>
                            {% else %}
                                FREE
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
{% endblock content %}

