<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} | rooms{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rooms/style.css' %}">
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}{{ message }}{% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>