{% extends 'base.html' %}
{% block title %}
    Details | {{ title }}
{% endblock title %}


{% block content %}
    <h2>{{room.name}}</h2>
    Capacity: {{room.capacity}}<br>
    Projector available:
        {% if room.is_projector %}
        Yes
        {% else %}
        No
        {% endif %}<br>
    {% if reservation_dates %}
    Reservations:
    <ol>
        {% for date in reservation_dates %}
            <li>{{ date }}</li>
        {% endfor %}
    </ol>
    <br>
    {% endif %}
    <br>
    <a href="{% url 'room_reservation' %}?rid={{ room.id }}">Make reservation</a><br>
    <a href="{% url 'all_rooms' %}">Main page</a>
{% endblock content %}
